.cImageScrollerPair {
    margin: auto;
    width: 50%;
    border: 3px dotted green;
    padding: 10px;
    text-align: center;
}

.cImageScrollerPair > input {
    width:300px;
}

.cImageScrollerPair > img {
    width: 500px;
    height: 700px;
}